.gallery {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    @media screen and (max-width: 680px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 450px) {
      height: 1200px;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .gallery-item {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      will-change: transform;
  
      transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
  
    .gallery-item-wrapper {
      transform: scale(1);
      transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
      
    }
  
    .gallery-item-image {
      background-size: cover;
      background-position: center;
      transform-origin: center;
      width: 100%;
      height: 100%;
      will-change: transform;
      transform: scale(1.1);
      transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1),
        clip-path 0.2s linear;
      position: absolute;

      &:hover > .wordContainer {
        background-color: #222; 
      }
  
      &.sepia {
        filter: grayscale(0%) sepia(20%) brightness(80%);
      }
  
      &.masked {
        clip-path: circle(50% at 50% 50%);
      }
      .wordContainer {
        font-size: 2.5rem;
        display: inline-block;
        position: absolute;
        right: 1.5%;
        top: 60%;
        z-index: 10;
        color: white;
        text-align: center;
        border-radius: 10px;
        transition: all 0.45s ease-in;
        @media screen and (max-width: 680px) {
          font-size: 2rem;
        }

        // @media screen and (max-width: 450px) {
        //   font-size: 1.5rem;
        // }
      }
    }
  }