body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

h3 {
  margin: 0;
}

footer {
  width: calc(100% - 20vw);
  padding: 0 10vw ;
  height: calc(80vw / 7.5);
  display: grid;
  grid-template-columns: 2fr 2fr 7fr 4fr;
  align-items: center;
  justify-content: flex-start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
